.color {
  padding: 0.125rem;
}

.well.light {
  border: 0.0125px solid #ccc;
}

.well.dark {
  border: none;
}

.color .btn {
  z-index: 10;
}

.well {
    display: inline-block;
    vertical-align: middle;
    min-width: 40px;
    min-height: 40px;
    margin-right: 2px;
    border-radius: 50%;
}

.color .bi.bi-sliders {
  display: inline-block;
  vertical-align: middle;
}
