.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.drawing-board,
.palette-board {
  display: inline-block;
  margin: 1em 2em;
}

.drawing-board {
  vertical-align: middle;
}
.save-load {
  width: 4.2em;
  vertical-align: top;
  margin: 1em 0;
}

.save-load button {
  height: 3em;
  padding: 0;
}
.save-load svg {
  display: inline-block;
  vertical-align: middle;
}

.save-load button svg:first-child {
  margin-right: 0.25em;
}
